name: NodeJS with Webpack

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm-version-bump
  # You may pin to the exact commit or the version.
  # uses: neg4n/version-bump@84e594b503a3ddf9b07a9bed9438db8c8597ee84
    uses: neg4n/version-bump@1.0.0
          
    - name: Build
      run: |
        npm install
        npm run build
